<section class="property-binding">
    <article>
        <h3>interpolation / interpolação</h3>
        <p>string renderizada com interpolação:{{url}}</p>
        <p>1+1 é igual a:{{ 1+1 }}</p>
        <p>o resultado de 1+1 nao é : {{1+1+ getValor() }}</p>
        <p>curso de Angular e curtir curso: {{ cursoAngular && getCurtirCurso()}}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem" >
    </article>
    <article>
        <h3>Class e style binding</h3>
        <div>
            selecione uma classe
            <select #classe (change)=0>
                <option value="alert-success">sucesso</option>
                <option value="alert-info">info</option>
                <option value="alert-warning">alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>
            <div class="alert " role="alert"[class.alert-success]="classe.value =='alert-success'">Sucesso</div>
            <div class="alert " role="alert">info</div>
            <div class="alert " role="alert">alerta</div>
            <div class="alert " role="alert">erro</div>
        </div>
    </article>

</section>
