
<!--<section class="property-binding">
    
    <article>
        <h3>interpolation / interpolação</h3>
        <p>string renderizada com interpolação:{{url}}</p>
        <p>1+1 é igual a:{{ 1+1 }}</p>
        <p>o resultado de 1+1 nao é : {{1+1+ getValor() }}</p>
        <p>curso de Angular e curtir curso: {{ cursoAngular && getCurtirCurso()}}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem" >
    </article>
    <article>
        <h3>Class e style binding</h3>
        <div>
            selecione uma classe
            <select #classe (change)=0>
                <option value="alert-success">sucesso</option>
                <option value="alert-info">info</option>
                <option value="alert-warning">alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <div class="alert {{classe.value}}" role="alert">
                texto colorido de acordo com a cor do combobox
            </div>

            <div class="alert " role="alert"[class.alert-success]="classe.value =='alert-success'">Sucesso</div>
            <div class="alert " role="alert"[class.alert-info]="classe.value =='alert-info'">info</div>
            <div class="alert " role="alert"[class.alert-warning]="classe.value =='alert-warning'">alerta</div>
            <div class="alert " role="alert"[class.alert-danger]="classe.value =='alert-danger'">erro</div>

            <div class="alert-danger" role="alert"
            [style.display]="classe.value=='alert-danger' ? 'block': 'none'">
                Esse texto só aparece em caso de erro

            </div>
        </div>
    </article>
    <article>
        <h3>Event binding</h3>
        <div>
        <button (click)="botaoClicado()"
        class="btn btn-primary">Me clique</button>
        </div>
        <br><br>
        <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput>
        <p>Valor atual: {{valorAtual}}</p>
        <p>Valor salvo: {{valorSalvo}}</p>
        <br>
        <span (mouseover)="onMouseOverNOut()"
              (mouseout)="onMouseOverNOut()"
              [class.highlight]="isMouseOver">
            
            passe o mouse sobre mim
        </span>
    </article>
    
</section>

<section class="two-way-binding">
    <article>
        <h3>two way data binding</h3>
        <div>
            <input type="text"
            [value]="nome"
            (input)="nome=$event.target.value">

            <input type="text" [(ngModel)]="nome">

            <input type="text" bindon-ngModel="nome">

            <p>Voce digitou {{nome}}</p>
        </div>
        <div>
            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">
            <p>Meu nome é {{pessoa.nome}} e eu tenho {{pessoa.idade}} anos de idade</p>
        </div>
    </article>
</section>-->
<section>
    <article>
        <h3>input/output properties</h3>
        <app-curso [nome]= "nomeDoCurso"></app-curso>
        <contador [valor]="valorInicial"
        (mudouValor)="onMudouValor($event)"
        ></contador>
    </article>
</section>
